In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/item-information/item_info.csv
/kaggle/input/transactions/trx_table.csv

In [2]:
train_df = pd.read_csv("/kaggle/input/transactions/trx_table.csv")

In [3]:
train_df.head()

      customer_code transaction_time   item code  sales_quantity
0  customer_code_78   1/3/2023 13:49  item_cd_12              13
1  customer_code_78   1/12/2023 8:08   item_cd_6              14
2  customer_code_78  1/17/2023 12:15   item_cd_2              14
3  customer_code_78  1/25/2023 16:37  item_cd_16              11
4  customer_code_78   2/3/2023 15:11   item_cd_3              14

In [4]:
train_df.dtypes

customer_code       object
transaction_time    object
item code           object
sales_quantity       int64
dtype: object

In [5]:
num_rows = len(train_df)
print(f"The number of rows in train_df is: {num_rows}")

The number of rows in train_df is: 654885

Finding duplicate rows

In [6]:
duplicates = train_df[train_df.duplicated()]

print("Duplicate rows:")
print(duplicates)

Duplicate rows:
             customer_code transaction_time   item code  sales_quantity
274471  customer_code_4042  4/26/2023 11:51   item_cd_2               3
382789  customer_code_1403  3/13/2023 14:56  item_cd_13               3
425877  customer_code_4151  2/13/2023 14:41  item_cd_64               3
431439  customer_code_3250  2/13/2023 17:12  item_cd_69               6

Removing duplicates

In [7]:

train_df.drop_duplicates(inplace=True)

print("DataFrame after removing duplicates (in place):")
print(train_df)

DataFrame after removing duplicates (in place):
             customer_code transaction_time   item code  sales_quantity
0         customer_code_78   1/3/2023 13:49  item_cd_12              13
1         customer_code_78   1/12/2023 8:08   item_cd_6              14
2         customer_code_78  1/17/2023 12:15   item_cd_2              14
3         customer_code_78  1/25/2023 16:37  item_cd_16              11
4         customer_code_78   2/3/2023 15:11   item_cd_3              14
...                    ...              ...         ...             ...
654880   customer_code_548  5/30/2023 12:42  item_cd_44               1
654881  customer_code_3672  5/30/2023 12:42  item_cd_44               1
654882  customer_code_2028  5/30/2023 12:42  item_cd_44               1
654883  customer_code_1163  5/30/2023 12:42  item_cd_44               1
654884  customer_code_3057  5/30/2023 12:42  item_cd_44               1

[654881 rows x 4 columns]

In [8]:
num_rows = len(train_df)
print(f"The number of rows in train_df is: {num_rows}")

The number of rows in train_df is: 654881

Check for null values in all the columns

In [9]:
null_counts = train_df.isnull().sum()

print("Null values in each column:")
print(null_counts)

Null values in each column:
customer_code       0
transaction_time    0
item code           0
sales_quantity      0
dtype: int64

Convert the 'transaction_time' column to datetime

In [10]:
train_df['transaction_time'] = pd.to_datetime(train_df['transaction_time'])

print(train_df['transaction_time'].dtypes)

datetime64[ns]

Get the min and max dates

In [11]:
min_date = train_df['transaction_time'].min()
max_date = train_df['transaction_time'].max()

print(f"The minimum date in 'transaction_time' is: {min_date}")
print(f"The maximum date in 'transaction_time' is: {max_date}")

The minimum date in 'transaction_time' is: 2023-01-02 08:00:00
The maximum date in 'transaction_time' is: 2023-07-08 17:29:00

Load the item info CSV file

In [12]:
item_info = pd.read_csv('/kaggle/input/item-information/item_info.csv')

Merge the DataFrames on the 'item code' column

In [13]:
merged_df = pd.merge(train_df, item_info, on='item code', how='left')

In [14]:
print(merged_df.head())

      customer_code    transaction_time   item code  sales_quantity  \
0  customer_code_78 2023-01-03 13:49:00  item_cd_12              13
1  customer_code_78 2023-01-12 08:08:00   item_cd_6              14
2  customer_code_78 2023-01-17 12:15:00   item_cd_2              14
3  customer_code_78 2023-01-25 16:37:00  item_cd_16              11
4  customer_code_78 2023-02-03 15:11:00   item_cd_3              14

  department item_category    item_name
0      fresh        fruits  green apple
1      fresh    vegetables     beetroot
2      fresh    vegetables     potatoes
3      fresh        fruits        mango
4      fresh    vegetables      pumpkin

In [15]:
num_rows = len(merged_df)
print(f"The number of rows in merged_df is: {num_rows}")

The number of rows in merged_df is: 654881

In [ ]:
merged_df.to_csv('merge.csv',index=False)